name: Master Builds

on:
  repository_dispatch:
    types: [org-workflow-bot]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: rishabhgupta/split-by@v1
        id: split
        with:
          string:  ${{ github.event.client_payload.event.ref }}
          split-by: '/'
      - uses: frabert/replace-string-action@v1.2
        id: replace
        with:
          string: ${{ steps.split.outputs._2 }} 
          pattern: 'master'
          replace-with: 'latest'
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          repository: ${{ github.event.client_payload.repository.full_name }}
          ref: ${{ github.event.client_payload.sha }}
          token: ${{ github.event.client_payload.token }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build baby Build!
        uses: docker/build-push-action@v2.3.0
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_REPO }}/${{ github.event.client_payload.repository.name }}:${{ steps.replace.outputs.replaced }}
          platforms: linux/amd64,linux/arm64,linux/arm